body {
    font-family: 'Roboto';
}

.header {
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
}

ul {
    display: flex;
    padding: 0px;
    list-style: none;
    gap: 16px;
}

.intro {
    display: flex;
    align-items: center;
}

.intro-container {
    width: 400px;
}

.info-container {
    display: flex;
}

.info-image {
    width: 200px;
    text-align: center;
}

.quote {
    width: 500px;
}

.action {
    display: flex;
    align-items: center;
}
