body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
    background-color: #1F2937;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    display: flex;
    padding: 0px;
    list-style: none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    flex: 1 1 auto;
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
}

.intro-container {
    display: flex;
    width: 700px;
    height: 340px;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-around;
}

.intro-container img {
    width: 330px;
    height: 220px;
    flex: 0 1 auto;
}

.intro-text {
    width: 430px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.intro-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin: 0px;
}

.intro-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.intro-text button {
    border-radius: 6px;
    border-style: none;
    background-color: #3882F6;
    padding: 4px 24px;
    color: #E5E7EB;
    width: 95px;
}

.information {
    margin-bottom: 80px;
}

.information h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 40px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.info-image {
    width: 150px;
    text-align: center;
    font-size: 16px;
    color: #1F2937;
}

.info-image img {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 6px;
}

.quote {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.quote h1 {
    flex: 1 0 auto;
    width: 670px;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    margin: 0px;
}

.quote p {
    flex: 1 0 auto;
    width: 670px;
    font-size: 18px;
    text-align: right;
    margin: 0px;
}

.action {
    flex: 1 1 auto;
    margin: 60px 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-content {
    height: 100px;
    width: 700px;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 6px;
}

.action-text h1 {
    font-size: 18px;
    font-weight: bolder;
    color: #E5E7EB;
    margin: 0px;
}

.action-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.action button {
    padding: 4px 24px;
    border-radius: 6px;
    color: #E5E7EB;
    border-style: solid;
    background-color: #3882F6;
}

.footer {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
    text-align: center;
}